.home-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.home-container .welcome {
  border: 1px solid #2dc284;
  padding: 1rem 4rem 1rem 1rem;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
