@font-face {
  font-family: "Segoe UI";
  src: local("font"), url(/public/fonts/segoeui/segoeui.ttf) format("woff");
}

@font-face {
  font-family: "Seguisb UI";
  src: local("font"), url(/public/fonts/segoeui/seguisb.ttf) format("woff");
}

body {
  font-family: "Segoe UI", sans-serif;
}

input:checked {
  background-color: #2dc284 !important;
}

.font-bold {
  font-weight: bold;
  font-family: "Seguisb UI", sans-serif;
}

input {
  padding-left: 15px !important;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}

a {
  color: #2dc284;
  text-decoration: underline;
}

p {
  margin: 10px 0;
}

.text-error {
  color: #f44336;
}

a:hover {
  color: #32d692;
}
.link:hover {
  cursor: pointer;
}

.button-disabled {
  background: #e0e0e0 !important;
  color: #9e9e9e !important;
}

.error-icon {
  filter: invert(67%) sepia(89%) saturate(7492%) hue-rotate(346deg)
    brightness(84%) contrast(146%);
  font-size: 12px;
}

.icon-green {
  filter: invert(40%) sepia(59%) saturate(1006%) hue-rotate(86deg)
    brightness(100%) contrast(109%);
}
